* {
  padding: 0;
  margin: 0; }

body {
  display: grid;
  grid-template: "youtube interface twitter" 393px "status interface twitter" 20px "reddit interface twitter" 1fr / 700px 1fr 320px;
  grid-gap: 4px;
  overflow: hidden; }
  body.interface-left {
    grid-template: "twitter interface youtube" 393px "twitter interface status" 20px "twitter interface reddit" 1fr/320px 1fr 700px; }
    body.interface-left section.reddit {
      direction: ltr; }
    body.interface-left section.twitter {
      direction: rtl; }
    body.interface-left i#info-button {
      right: 720px; }
    body.interface-left section.status {
      flex-direction: row-reverse; }
      body.interface-left section.status #interface-left {
        display: inline; }
      body.interface-left section.status #interface-right {
        display: none; }

iframe.youtube {
  grid-area: youtube;
  background: #000;
  border: none;
  width: 100%;
  height: 100%; }

section.reddit {
  grid-area: reddit;
  width: 100%;
  height: calc(100vh - 393px - 8px - 20px);
  overflow-y: scroll;
  direction: rtl; }
  section.reddit .embedly-card-hug {
    max-width: unset !important;
    margin: unset !important; }
  section.reddit iframe {
    width: 100%; }

section.status {
  grid-area: status;
  display: flex;
  align-content: center;
  justify-content: center; }
  section.status > * {
    margin: 0 3px; }
  section.status #auth-0,
  section.status #interface-right {
    display: inline; }
  section.status #auth-1,
  section.status #interface-left {
    display: none; }
  section.status.authenticated #auth-0 {
    display: none; }
  section.status.authenticated #auth-1 {
    display: inline; }

section.interface {
  grid-area: interface;
  height: calc(100vh - 12px);
  overflow-y: scroll;
  padding-top: 4px; }
  section.interface #events {
    margin-top: 1em;
    list-style-type: none; }
    section.interface #events li {
      position: relative;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 4px;
      border: 1px solid #ddd;
      padding: 0.5em;
      margin-bottom: 0.25em; }
      section.interface #events li .sort-icon {
        position: absolute;
        top: 20%;
        right: 1em;
        display: inline-block;
        background: url("../icons/sort.svg") center no-repeat;
        height: 60%;
        width: 1em;
        cursor: pointer; }
      section.interface #events li.ui-state-highlight {
        height: calc(1em + 2px);
        background: rgba(153, 153, 255, 0.4);
        border: 1px solid rgba(153, 153, 255, 0.4); }

section.twitter {
  grid-area: twitter;
  height: 100vh;
  overflow-y: scroll; }

i#info-button {
  position: fixed;
  z-index: 1000;
  top: 11px;
  right: 340px;
  height: 20px;
  width: 20px;
  background: url("../icons/info.svg");
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 200ms; }
  i#info-button:hover {
    opacity: 1; }

a {
  color: #22f;
  text-decoration: none; }

.CodeMirror,
.CodeMirror-scroll {
  min-height: 200px;
  height: 200px;
  overflow-y: auto; }

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: transparent; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #005288; }

/*# sourceMappingURL=styles.css.map */
