<!DOCTYPE HTML>
<html>
<head lang='en'>
	<title>r/Spacex Mission Control</title>
	<link rel='icon' type='image/png' href='/icons/iss-16.png' sizes='16x16'>
	<link rel='icon' type='image/png' href='/icons/iss-32.png' sizes='32x32'>
	<link rel='stylesheet' href='/css/styles.css'>
</head>
<body class='auth'>

	<img src='icons/logo.png'>
	<a href='/auth'>Authenticate</a>

</body>
</html>
