<!DOCTYPE HTML>
<html>
<head lang='en'>
	<title>r/Spacex Mission Control</title>
	<link rel='icon' type='image/png' href='/icons/iss-16.png' sizes='16x16'>
	<link rel='icon' type='image/png' href='/icons/iss-32.png' sizes='32x32'>
	<link rel='stylesheet' href='css/packages.css'>
	<link rel='stylesheet' href='css/reddit_post.css'>
	<link rel='stylesheet' href='css/mde.css'>
	<link rel='stylesheet' href='css/styles.css'>
	<script async src="https://platform.twitter.com/widgets.js"></script>
	<script src='js/packages.js'></script>
	<script src='js/scripts.js'></script>
</head>
<body>
	<iframe class='youtube' src='https://youtube.com/embed/ivdKRJzl6y0?autoplay=0'></iframe>

	<section class='status'>
		<a href='#' onclick='document.body.classList.toggle("interface-left")'>
			<img id='interface-right' src='https://img.shields.io/badge/interface-right-grey.svg' alt='interface right'>
			<img id='interface-left' src='https://img.shields.io/badge/interface-left-grey.svg' alt='interface left'>
		</a>

		<span id='status-liveupdate'> <%# allow updates via AJAX later %>
			<%= render_erb 'sections/status' %>
		</span>
	</section>

	<section class='reddit'>
		<%= render_erb 'sections/live_post' %>
	</section>

	<section class='interface'>
		<textarea id='intro' data-initial='# Welcome to the r/SpaceX ________ Official Launch Discussion & Updates Thread!'></textarea>
		<textarea id='viewing' data-initial='### Watching the launch live'></textarea>

		<h3>### Live Updates
			<i class='fa fa-upload' title='Save to reddit' onclick='saveEvents()'></i>
			<i class='fa fa-minus' title='Remove top event' onclick='removeEvent()'></i>
			<i class='fa fa-plus' title='Add event at top' onclick='addEvent()'></i>
		</h3>
		<ul id='events'>
			<li><i class='sort-icon'></i>
				<span onclick='this.innerHTML = this.innerHTML == "T+" ? "T-" : "T+";'>T+</span><input>
				Message: <input>
			</li>
		</ul>

		<textarea id='stats' data-initial='### Stats'></textarea>
		<textarea id='mission' data-initial='### Mission'></textarea>
		<textarea id='landing' data-initial='### Landing Attempt'></textarea>
		<textarea id='resources' data-initial='### Resources'></textarea>
		<textarea id='participate' data-initial='### Participate in the discussion!'></textarea>
	</section>

	<section class='logo'></section>

	<section class='twitter'>
		<a class='twitter-timeline' href='https://twitter.com/theZcuber/lists/r-spacex-mission-control'></a>
	</section>

	<i id='info-button' onclick='document.getElementById("info").showModal()'></i>
	<dialog id='info'><!-- Info will go here --></dialog>

</body>
</html>
