<% reddit = request.env['redd.session'] %>

<!DOCTYPE HTML>
<html>
<head>
	<title>r/Spacex Mission Control</title>
	<link rel='stylesheet' href='css/packages.css'>
	<link rel='stylesheet' href='css/styles.css'>
	<script async src='https://embed.redditmedia.com/widgets/platform.js'></script>
	<script async src="https://platform.twitter.com/widgets.js"></script>
	<script src='js/packages.js'></script>
	<script src='js/scripts.js'></script>
</head>
<body>

	<iframe class='youtube' src='https://youtube.com/embed/ivdKRJzl6y0?autoplay=0'></iframe>

	<section class='status'>
		<a href='#' onclick='document.body.classList.toggle("interface-left")'>
			<img id='interface-right' src='https://img.shields.io/badge/interface-right-grey.svg' alt='interface right'>
			<img id='interface-left' src='https://img.shields.io/badge/interface-left-grey.svg' alt='interface left'>
		</a>

		<span id='status-liveupdate'> <%# allow updates via AJAX later %>
			<%= render_erb 'status' %>
		</span>
	</section>

	<section class='reddit'>
		<blockquote class='reddit-card'><a href='https://www.reddit.com/r/spacex/comments/417weg/'></a></blockquote>
	</section>

	<section class='interface'>
		<textarea id='intro' data-initial='# Welcome to the r/SpaceX ________ Official Launch Discussion & Updates Thread!'></textarea>
		<textarea id='viewing' data-initial='## Watching the launch live'></textarea>

		<ul id='events'>
			<li><i class='sort-icon'></i>foo</li>
			<li><i class='sort-icon'></i>bar</li>
			<li><i class='sort-icon'></i>baz</li>
			<li><i class='sort-icon'></i>qux</li>
		</ul>
	</section>

	<section class='logo'></section>

	<section class='twitter'>
		<a class='twitter-timeline' href='https://twitter.com/theZcuber/lists/r-spacex-mission-control'></a>
	</section>

	<i id='info-button' onclick='document.getElementById("info").showModal()'></i>
	<dialog id='info'><!-- Info will go here --></dialog>

</body>
</html>
