* {
  padding: 0;
  margin: 0; }

body {
  display: grid;
  grid-template: "youtube interface logo" 61px "youtube interface twitter" 277px "status interface twitter" 20px "reddit interface twitter" 1fr / 600px 1fr 320px;
  grid-gap: 4px;
  overflow: hidden;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px; }
  @media (max-width: 1500px) {
    body {
      grid-template-rows: 52px 207px 20px 1fr;
      grid-template-columns: 460px 1fr 270px; } }
  body.interface-left {
    grid-template: "logo interface youtube" 61px "twitter interface youtube" 277px "twitter interface status" 20px "twitter interface reddit" 1fr / 320px 1fr 600px; }
    @media (max-width: 1500px) {
      body.interface-left {
        grid-template-columns: 270px 1fr 460px; } }
    body.interface-left section.reddit {
      direction: ltr; }
    body.interface-left section.twitter {
      direction: rtl; }
    body.interface-left i#info-button {
      right: 622px; }
    body.interface-left section.status {
      flex-direction: row-reverse; }
      body.interface-left section.status * {
        flex-direction: row-reverse; }
      body.interface-left section.status #interface-left {
        display: inline; }
      body.interface-left section.status #interface-right {
        display: none; }

iframe.youtube {
  grid-area: youtube;
  background: #000;
  border: none;
  width: 100%;
  height: 100%; }

section.reddit {
  grid-area: reddit;
  width: 100%;
  height: calc(100vh - 338px - 8px - 20px);
  overflow-y: scroll;
  direction: rtl; }

section.status {
  grid-area: status;
  display: flex;
  align-content: center;
  justify-content: center; }
  section.status > * {
    display: flex; }
    section.status > * > * {
      margin: 0 3px; }
  section.status #interface-right {
    display: inline; }
  section.status #interface-left {
    display: none; }

section.interface {
  grid-area: interface;
  height: calc(100vh - 4px);
  overflow-y: scroll;
  padding-top: 4px;
  padding-right: 4px; }
  section.interface #events {
    margin-top: 0.5em;
    margin-bottom: 1em;
    list-style-type: none; }
    section.interface #events li {
      position: relative;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 4px;
      border: 1px solid #ddd;
      padding: 0.4em;
      margin-bottom: 0.6em; }
      section.interface #events li .sort-icon {
        position: absolute;
        top: 20%;
        right: 1em;
        display: inline-block;
        background: url("../icons/sort.svg") center no-repeat;
        height: 60%;
        width: 1em;
        cursor: pointer; }
      section.interface #events li.ui-state-highlight {
        height: calc(1em + 8px);
        background: rgba(153, 153, 255, 0.4);
        border: 1px solid rgba(153, 153, 255, 0.4); }
    section.interface #events input {
      border: 1px solid #ddd;
      border-radius: 3px;
      background: transparent;
      padding: 2px;
      outline-color: #005288; }
      section.interface #events input:first-of-type {
        width: 53px;
        margin-right: 1.5em; }
      section.interface #events input:last-of-type {
        width: calc(100% - 200px); }

section.logo {
  grid-area: logo;
  background: url("../icons/logo.png") top left/100% no-repeat; }

section.twitter {
  grid-area: twitter;
  height: 100vh;
  overflow-y: scroll; }

i#info-button {
  position: fixed;
  z-index: 1000;
  top: 11px;
  right: 342px;
  height: 20px;
  width: 20px;
  background: url("../icons/info.svg");
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 200ms; }
  i#info-button:hover {
    opacity: 1; }

a {
  color: #22f;
  text-decoration: none; }

.CodeMirror,
.CodeMirror-scroll {
  min-height: 50px; }

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: transparent; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #005288; }

.highlight {
  animation-timing: ease-out;
  animation: highlight 1s; }

@keyframes highlight {
  0% {
    background: #9f9; }
  100% {
    background: none; } }

/*# sourceMappingURL=styles.css.map */
