<h1>r/SpaceX Mission Control</h1> 
<h3>Launch Thread Interface</h3>

<p><strong>On the left</strong>, you'll see the YouTube video you provided the
link for, as well as some basic info and a reddit post (or not). The info is
quite simple ─ it shows which side the interface is on, your post score and 
number of comments, and the reddit identity that we have.</p>

<p><strong>In the center</strong>, this is what you'll be using most of the
time. Each box is a full markdown editor, so everything you see is (almost)
exactly how it will appear on reddit. The second button from the right is your
"upload" button, which saves that section to reddit. Upon saving a section, the
reddit post section on the left will be updated with the latest view.</p>

<p>For the events ("Live Updates"), there are also buttons to add and remove
rows, which will happen at the top. You can click the T± button, which toggles
between T+ and T-. If you have more than one event, you'll see handles on the
right side, which allow for them to be reordered. As a bonus, pressing "enter"
when the message input is focused uploads the section the same way clicking the
button does.</p>

<p><strong>On the right</strong> there is a countdown clock and Twitter feed.
The countdown clock may have been set when you chose the launch ─ if not, you
can click the text and set it. <em>Use your local time, not UTC</em>. The
Twitter feed is a curated list of SpaceX, Elon Musk, NSF, and various CEOs and
related individuals. It should be a near-complete list of accounts you'd want
updates from. The feed auto-updates, so need to worry about refreshing.</p>

<button onclick='this.parentElement.close()'>Close</button>
