<% reddit = request.env['redd.session'] %>

<% if _session[:post] %>
  <%= post_info(_session[:post])['html'] %>
<% else %>
  <div class=flex>
    <a href=# onclick=createPost() class='fa fa-upload'></a>
    <a href=# onclick=createPost()><span>Create blank post</span></a>
  </div>
<% end %>
