<!DOCTYPE HTML>
<html lang='en'>
<head>
    <title>r/SpaceX Mission Control</title>
    <link rel='icon' type='image/png' href='/images/iss-16.png' sizes='16x16'>
    <link rel='icon' type='image/png' href='/images/iss-32.png' sizes='32x32'>
    <link rel='stylesheet' href='/css/all.css'>
    <script defer src='js/all-modules.js'></script>
    <script defer src='js/all-packages.js'></script>
</head>
<body class='init'>
    <img src='/images/logo.svg' alt='SpaceX Mission Control'>

    <section>
        <form method='POST' action='/init'>
            New Thread
            <% launches = upcoming_launches %>
            <% if launches.empty? %>
                <input name='launch' required placeholder='Launch name'>
            <% else %>
                <select name='launch' required>
                    <% launches.each do |launch, time| %>
                        <%= "<option value='#{launch.gsub("'", '&apos;')}|#{time}'>#{launch}</option>" %>
                    <% end %>
                </select>
            <% end %>
            <input name='video' placeholder='Full YouTube URL' pattern='(https\/\/)?(www\.)?youtu(\.be|be\.com)\/(watch\?v=)?([\w-]{11,})'>
            <input type='number' min='2' name='take' pattern='\d*' placeholder='Take # (if not first)'>
            <button type='submit' class='disableable'>Create</button>
        </form>

        <form id='recovery'>
            Thread Recovery
            <input placeholder='Full reddit URL' required pattern='(https:\/\/)?(www\.)?reddit.com/r/(.*?)/comments/([0-9a-z]{6})(\/.*)?'>
            <button type='submit' class='disableable'>Recover</button>
            <div id='error'></div>
        </form>
    </section>
</body>
</html>
