<!DOCTYPE HTML>
<html lang=en>
<head>
    <title>r/Spacex Mission Control</title>
    <link rel=icon type=image/png href=/images/iss-16.png sizes=16x16>
    <link rel=icon type=image/png href=/images/iss-32.png sizes=32x32>
    <link rel=stylesheet href=/css/all.css>
</head>
<body class=init>

    <img src=images/logo.svg alt='SpaceX Mission Control'>

    <form method=POST>
        <table>
            <tr>
                <td>Existing thread URL</td>
                <td>
                    <input name=url required placeholder='Full reddit URL'>
                </td>
            </tr>
            <tr>
                <td colspan=2><input type=submit value="Ok, let's recover it!"></td>
            </tr>
            <tr>
                <td colspan=2><a href=/init>Create new thread instead?</a></td>
            </tr>
        </table>
    </form>

</body>
</html>
