<!DOCTYPE HTML>
<html lang=en>
<head>
	<title>r/Spacex Mission Control</title>
	<link rel=icon type=image/png href=/images/iss-16.png sizes=16x16>
	<link rel=icon type=image/png href=/images/iss-32.png sizes=32x32>
	<link rel=stylesheet href=/css/all.css>
</head>
<body class=auth>

	<img src=images/logo.png alt='SpaceX Mission Control'>
	<a href=/auth>Authenticate</a>

</body>
</html>
