<h1>r/SpaceX Mission Control</h1> 
<h3>Launch Thread Interface</h3>

<p><strong>On the left</strong>, you'll see the YouTube video you provided the
link for, as well as some basic info and a reddit post (after creation). The info is
quite simple ─ it shows which side the interface is on, your post score and 
number of comments, and the reddit login that you're posting from.</p>

<p><strong>In the center</strong>, this is what you'll be using most of the
time. Each box is a full markdown editor, so everything you see is <em>almost</em>
exactly how it will appear on reddit. The button on the far left is your
"upload" button, which saves that section to reddit. Upon saving a section, the
reddit post section on the left will be updated with the latest view.</p>

<p>For the events ("Live Updates"), there are also buttons to add and remove
rows, which will happen at the top. Rows are automatically added if the top row
has a message, so these shouldn't need to be used too much. There are quite a
few preset events in the dropdown, as well as "emergency messages" to the side
of that.

<p>For the T± time, clicking the clock sets it to the current time (shown on
the right hand side). Aside from that, you can click the T± button, which
toggles between T+ and T-. Alternatively, typing '+' or '-' as the first
character also sets sets it. If you have more than one event, you'll see
handles on the right side, which allow for them to be reordered. As a bonus,
pressing "enter" when the message input is focused uploads the section the same
way clicking the button does.</p>

<p>On the top, there are tabs, which allow limiting of what you can see
(events, sections, or both). I'd recommend setting it to events only during the
launch, as the other sections should remain relatively unchanged. There are
also many buttons, which can re-open this info, chance the YouTube video shown,
report a bug, view the source code, and log out. If you're in Chrome, you'll
also see an icon for voice control, which allows basic commands like "add row"
to be spoken and performed automatically.</p>

<p><strong>On the right</strong> there is a countdown clock and Twitter feed.
The countdown clock was likely set when you chose the launch ─ if not, you
can click the text and set it. <em>Use your local time, not UTC</em>. The
Twitter feed is a curated list of SpaceX, Elon Musk, NasaSpaceFlight, various
CEOs, other relevant individuals. It should be a near-complete list of accounts
you'd want updates from. The feed auto-updates, so need to worry about
refreshing.</p>

<button autofocus onclick=this.parentElement.close()>Close</button>
